page-tab {
  .ion-md-customicon {
    content: url(../../assets/img/ui/customicon.svg);
    width: auto;
    height: auto;
    opacity: 1;
    color: aquamarine;
  }
  body{
    background-color: #FFC43D!important;
  }
  //does not work sadly :'''''''''''''''''''''(
}
