page-burgers-list {
    .addBurger{
        display: inline-flex;
    }
      .background {
        background-color: rgba(42, 42, 42, 0.51);
        color: gray;
      }
      font-family: Optima, sans-serif;
}
