page-burger-new {
    .takePicture{
        display: inline-flex;
    }
    h2 {
        margin-top: -17px;
        font-size: medium;
        font-style: italic;
        border-bottom: solid rgb(175, 175, 175);
      }
      .background {
        background-color: rgba(42, 42, 42, 0.51);
        color: gray;
      }
      font-family: Optima, sans-serif;
}
